body{
	/*background: linear-gradient( #2A1B3D99, #44518D99, #E9807499, #A4B3B699), url("../guachi.jpg") ;*/
	background-image: url("../guachi.jpg");
	color: black;
	background-repeat: no-repeat;


	

}
/*.box-1{
	border: 10px #D83F87 ;
	margin: 0px;
	padding: 5px;
	font-family:Tahoma;
	font-weight: 800;
	letter-spacing: 0.2em;
	border-radius: 15px;
	background: #D83F87;
	
} */
.container{
	width: 80%;
	max-width: 1000px;

	padding-left: 80px;
	color:black;
	min-height: 100%;

}

.aside-box{
	border: 5px;
	text-align: center;
	font-size: 16px;
	padding-bottom: 60px;
	padding-top:40px;
	border-radius: 15px;
	font-family:sans-serif;
	list-style: none;
	margin-left: 850px;
	margin-right: 160px;
	color:white;
	background:linear-gradient(#254E58, #112D32);
	margin-top:-250px;
    position:relative;
    width:350px;
    float: top;
    line-height: 40px;
  

	
}
.post{
	border-color: #2F2FA2;
	text-align:center;
	padding: 20px;
	border-radius: 15px;
	font-family: sans-serif;
	background:linear-gradient(#254E58, #112D32);
	color: black;
	margin-top: 100px;
    position:relative;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);

}
a{
	text-decoration: none;
	color: white;

}
a:hover{
	color:green;
}
a:active{
	color:red;
}
a:visited{
	color:white;

 }

 .my-form{
 	padding: 20px;
 	margin-top:50px;
 	padding-left:200px;
 	font-size:15px;
  	
}


 }
 .myform .form-group{
 	padding-bottom: 15px;
 }

 .my-form label{
 display:block;
}
.footer-forms{
	text-align: center;
}
.contact-form{
	margin-left: 100px;
}
.image-section{
	background: rgba(204, 204, 204, 0.5);
	margin-left: 20px;
	border-radius: 15px;
	width:800px;
	margin-bottom:20px;
	float:left;
	margin-top:20px;



}
.actual-image{
	margin-left: 80px;
	float:left;
	margin-right: 20px;
	margin-top: 40px;
	margin-bottom: 35px;
	
}
.index-about{
	margin-left: 30px;
	margin-top: 100px;
	margin-right: 20px;

	

}
.contact-info{
	margin-left: 100px;
}

.translation-1{
	background: rgba(204, 204, 204, 0.5);
	width: 500px;
}

.translation-2{
	background: rgba(204, 204, 204, 0.5);
	float: right;
	float: top;
	margin-top:-60px;
} 

